# 카카오 2020 가을 인턴 코딩 테스트
문제가 영어라 받아적기 애매함...

### 문제 1. 
마트 판매 제품에 대한 물건 리스트, 가격 리스트, 팔린 물건 리스트, 판매 가격 리스트가 주어진다. 물건을 팔 때 가격은 수기로 입력하기 때문에 오류가 있을 수 있다. 이 때 오류 발생 여부를 체크하는 `priceCheck` 함수를 완성하시오.

```py
# 입력 데이터
products = ['eggs', 'milk', 'cheese']
prices = [2.89, 3.29, 5.79]
solds = ['eggs', 'eggs', 'cheese', 'milk']
soldPrices = [2.89, 2.99, 5.97, 3.29]
```

```py
# 반환 데이터
[0, 1, 1, 0]
```

In [ ]:
products = ['eggs', 'milk', 'cheese']
prices = [2.89, 3.29, 5.79]
solds = ['eggs', 'eggs', 'cheese', 'milk']
soldPrices = [2.89, 2.99, 5.97, 3.29]
answer_1 = [0, 1, 1, 0]

In [ ]:
def priceCheck(products, productPrices, productSold, soldPrices):
  pass

In [ ]:
#@title
def priceCheck(products, productPrices, productSold, soldPrices):
  proDict = {}
  for k, v in zip(products, productPrices):
    proDict[k] = v

  answer = []
  for k, v in zip(productSold, soldPrices):
    answer.append(int(proDict[k] != v))

  return answer

In [ ]:
print('결과')
result_1 = priceCheck(products, prices, solds, soldPrices)
print(result_1)
print('\n통과')
print(result_1 == answer_1)

### 문제 2. 중복된 숫자 세기
입력 시퀀스에 중복된 데이터가 있다. 가장 많이 중복된 횟수를 세어 반환하는 함수 `countDuplicate`를 완성하시오.

```py
# 입력 데이터
[1, 3, 1, 4, 5, 6, 3, 2]
```

```py
# 반환 데이터
2
```

In [ ]:
numbers = [1, 3, 1, 4, 5, 6, 3, 2]
answer_2 = 2

In [ ]:
def countDuplicate(numbers):
  pass

In [ ]:
#@title
from collections import Counter
def countDuplicate(numbers):
  return max(Counter(numbers).items(), key=lambda x: x[1])[1]

In [ ]:
print('결과')
result_2 = countDuplicate(numbers)
print(result_2)
print('\n통과')
print(result_2 == answer_2)

### 문제 3. 할인 받는 경우의 수
여행사에서 최소 인원 이상이 예약할 경우 할인이 적용됩니다. 각 국가마다 할인이 적용되는 최소 인원이 다르며, 아래와 같이 `FAMILIES`, `COUNTRIES` 테이블이 존재할 때 할인 받는 경우의 수를 SQL을 이용하여 구하시오.

**FAMILIES**
column | type | description
---|---|---
ID | str | 유일키
NAME | str | 대표자
FAMILY_SIZE | int | 가족 구성원 수

**Example FAMILIES**
ID | NAME | FAMILY_SIZE
---|---|---
s102594236 | 김동호 | 9
s102123235 | 김동호2 | 2

**COUNTRIES**
column | type | description
---|---|---
ID | str | 유일키
NAME | str | 국가 이름
MIN_SIZE | int | 할인이 적용되는 최소 인원

**Example COUNTRIES**
ID | NAME | MIN_SIZE
---|---|---
n1230515 | 호주 | 2
n1593563 | 캐나다 | 4
n1514553 | 헝가리 | 4

예시 데이터에서 모든 가족이 할인 받는 경우의 수는 3가지.

### 문제 4. Prison Break
당신은 감옥에 갖혔다! 다행히 감옥이 오래되어 쇠창살이 떨어져 나간 부분이 있다. 가장 큰 구멍을 찾아 탈출해야 한다. 행의 수(=n), 열의 수(=m), 행에서 쇠창살이 떨어져나간 부분 리스트(=h), 열에서 쇠창살이 떨어져나간 부분 리스트(=v)가 주어지며, 이때 가장 큰 구멍의 크기를 구하시오.

```py
# 입력 데이터 1
n = 6
m = 6
h = [4]
v = [2]
```

```py
# 반환 데이터 1
4
```

```py
# 이런 그림이 첨부되어 있었음...
    1 2 3 4 5
  +-+---+-+-+-+
1 +-+---+-+-+-+
2 +-+---+-+-+-+
3 +-+---+-+-+-+
4 | |   | | | |
5 +-+---+-+-+-+
  +-+---+-+-+-+
```

```py
# 입력 데이터 2
n = 3
m = 2
h = [1, 2, 3]
v = [1, 2]
```

```py
# 반환 데이터 2
12
```

```py
# 이런 그림이 첨부되어 있었음...
    1 2 
  +-----+
1 |     |
2 |     |
3 |     |
  +-----+
```

In [ ]:
test_seq_4 = [[6, 6, [4], [2]], [3, 2, [1, 2, 3], [1, 2]]]
answer_seq_4 = [4, 12]

In [ ]:
def prisonBreak(n, m, h, v):
  pass

In [ ]:
#@title
def calcMaxSize(num, lists):
  n_left = list(range(num+2))
  for i in lists:
    n_left.remove(i)

  max_n = max([n_left[i+1]-n_left[i] for i in range(len(n_left)-1)])
  return max_n

def prisonBreak(n, m, h, v):
  return calcMaxSize(n, h) * calcMaxSize(m, v)

In [ ]:
print('결과\t 통과')
for seq, answer_4 in zip(test_seq_4, answer_seq_4):
  n, m, h, v = seq
  result_4 = prisonBreak(n, m, h, v)
  print(result_4, '\t', result_4 == answer_4)

### 문제 5. 가장 가까운 이웃 도시
도시의 수, 이름, 각 이름의 순서에 알맞는 x 좌표 리스트, y 좌표 리스트가 주어지고 쿼리가 주어집니다. 쿼리에는 도시 이름이 들어있으며, 해당 도시와 같은 축을 공유하고 거리가 가장 가까운 도시를 구하세요. (없으면 'None')

```py
# 입력 데이터
n = 3
c = ['c1', 'c2', 'c3']
x = [3, 2, 1]
y = [3, 2, 3]
q = ['c1', 'c2', 'c3']
```

```py
# 반환 데이터
['c3', 'None', 'c1']
```

In [ ]:
n = 3
c = ['c1', 'c2', 'c3']
x = [3, 2, 1]
y = [3, 2, 3]
q = ['c1', 'c2', 'c3']
answer_5 = ['c3', 'None', 'c1']

In [ ]:
# O(n * n)으로 푸니까 타임 아웃 됨..
# 비슷한 다른 문제의 경우 분할 정복으로 풀 면 O(n log n)이라는 듯
def nearestCity(n, c, x, y, q):
  pass

In [ ]:
#@title
import math
def nearestCity(n, c, x, y, q):
  coord = {}; answer = []
  for name, k, v in zip(c, x, y):
    coord[name] = (int(k), int(v))

  for src_name in q:
    tmp = coord.copy()
    src = tmp.pop(src_name)
    
    nearest = 'None'
    nearest_dist = math.inf
    for name, dst in tmp.items():
      if dst[0] != src[0] and dst[1] != src[1]:
        continue

      dist = abs(dst[0] - src[0] + dst[1] - src[1])
      if dist < nearest_dist:
        nearest_dist = dist
        nearest = name

    answer.append(nearest)

  return answer

In [ ]:
print('결과')
result_5 = nearestCity(n, c, x, y, q)
print(result_5)
print('\n통과')
print(result_5 == answer_5)

### 문제 6.
Doubly Linked List에 대한 설명으로 올바른 것을 고르시오.

1. linear 혹은 circular 형태로 만들 수 있다.
2. Header 노드를 반드시 포함하여야 한다.
3. Linked List와 같은 메모리 공간을 차지한다.

**보기**
1. 1
2. 2, 3
3. 1, 2, 3
4. 1, 3

In [ ]:
#@title
Linked List보다 포인터가 하나 많으니까 3 제외.
Header 없어도 구현할 수 있음.
1번 골랐음.

### 문제 7. Binary Tree
2개의 child를 가질 수 있는 k개의 노드를 갖는 Binary Tree는 L개의 leaves를 갖는다. 다음 중 올바른 것을 고르시오.

**보기**
1. L = k + 1
2. L = 2k + 1
3. L = k - 1
4. No relation between L, K

In [ ]:
#@title
complete나 balanced 등 다른 조건을 표시하는 단어가 없어 기본적인 이진 트리라고 생각.
일 자로 다섯 개 연결될 수도 있으며 이때 조건 만족 못함.
4번 골랐음.